header {
    background-color: #FFFFFF;
}
.list {
    color: #2E2F42;
}
.address {
    color: #434455;
}
.section-first {
    background-color: #2E2F42;
}
h1 {
    color: white;
}
.first-button {
    background-color: #4D5AE5;
    color: white;
}
.section-third {
    background-color: #F4F4FD;
}
.logo {
    color: #4D5AE5;
}
.logo-rest {
    color: #2E2F42;
}